---
layout: splash
author_profile: false
permalink: /
header:
  overlay_color: "#5e616c"
  overlay_filter: rgba(0, 0, 0, 0.15)
  overlay_image: "me-ted.PNG"
  caption: 
excerpt: 'Associate Professor in Computational Linguistics<br />University of Groningen'
feature_row:
  - image_path: Images/tedx.JPG
    alt: "TEDx Talk"
    title: "TEDx Talk"
    excerpt: "I recently gave a TEDx Talk (TEDxUniversityofGroningen) on Language, Humans, and AI, and how machines might challenge our stereotypical thinking"
    url: "/teaching/tedx.html"
    btn_class: "btn--primary"
    btn_label: "Learn More"
  - image_path: Images/starsem.png
    alt: "*SEM 2018"
    title: "*SEM 2018"
    excerpt: "I'm the General Chair of *SEM 2018, the Seventh Joint Conference of Lexical and Computational Semantics, co-located with NAACL in New Orleans, June 5-6"
    url: "https://sites.google.com/view/starsem2018/home?authuser=0"
    btn_class: "btn--primary"
    btn_label: "Learn More"
  - image_path: Images/GXG.png
    alt: "GxG@EVALITA"
    title: "GxG at EVALITA2018"
    excerpt: "GxG is the first cross-genre gender prediction task for Italian! Organised within the EVALITA 2018 framework."
    url: "https://sites.google.com/view/gxg2018"
    btn_class: "btn--primary"
    btn_label: "Learn More and Participate"
intro:
  - excerpt: 'News'


---

{% include feature_row id="intro" type="left" %}

{% include feature_row %}
