---
---

<hr>

<div class="text-justify">{{reference | replace_first: 'Nissim, M.', '<b>Nissim, M.</b>'}}</div>

{% if entry.url %}
    <a href="{{ entry.url }}" target="_blank"><button class="btn btn--success btn-sm">link</button></a>
{% endif %}

{% if entry.type %}
    <button class="btn btn--primary btn-sm"  type="button" onclick="toggleBibtex('{{entry.key | replace: '-', ''}}')">bib</button>
{% endif %}

{% if entry.abstract %}
    <button class="btn btn--warning btn-sm"  onclick="toggleAbstract('{{entry.key | replace: '-', ''}}')">abstract</button>
{% endif %}

{% if entry.abstract %}
    <div id="a{{entry.key | replace: '-', ''}}" style="display: none; background-color:black; color:grey; border-radius:5px; padding:10px; margin-bottom:20px;">
        <pre>{{ entry.bibtex | remove: "entry.abstract" }}</pre>
    </div>
{% else %}
    <div id="a{{entry.key | replace: '-', ''}}" style="display: none; background-color:black; color:grey; border-radius:5px; padding:10px; margin-bottom:20px;">
        <pre>{{ entry.bibtex }}</pre>
    </div>
{% endif %}

<div id="b{{entry.key | replace: '-', ''}}" style="display: none;">
    <hr>
    <p><i>{{entry.abstract}}</i></p>
</div>
